$grid-columns: 12;

@for $i from 1 through 12 {
    .col-#{$i} {
      width: (100% / $grid-columns) * $i;
    }
  }
  
  @for $i from 0 through 11 {
    .col-offset-#{$i} {
      margin-left: (100% / $grid-columns) * $i;
    }
  }

  // Media query

@media (max-width: 667px){
    // For tablets: 
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
} 
  @media (min-width: 668px) {
    // For desktop: 
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/*Media query*/
@media(max-width: 667px){
  .navbar {
   height: auto;
   position: static;
 }
 .navbar ul {
   padding: 0;
 }
 .navbar ul li {
   display: block;
   text-align: center;
   padding: 0;
 }
.navbar a {
 text-align: center;
 text-decoration: none;
 font-size: 25px;
 color: $kodfont-third;
 float: none;
 width: 100%;
}
}
