/*Media query*/
@media(min-width: 427px) and (max-width: 768px) {
  @include grid('m');

  //global styles
  .main {
    padding: 0;
    margin-left: 0;
  }
  //navbar
  .navbar {
    height: auto;
    position: static;
  }
   .navbar ul {
       padding: 0;
   }
   .navbar li {
       display: block;
       text-align: center;
       padding: 0;
     }
   .navbar a {
       text-align: center;
       text-decoration: none;
       font-size: 25px;
       color: $kodfont-third;
       float: none;
       width: 100%;
     }
     //input calendar
     .cal-right {
      text-align: center;
     }
     //line with digit
     .col-offset-2{
      margin-left: 8.33%;
    }
    .line{
      width: 250px;
    }
}

@media(max-width: 426px) {
  @include grid('s');

  [class*="col-"] {
    padding: 12px;
  }
  .main {
    padding: 0 10px 10px 10px;
    margin-left: 0;
  }
  //navbar
   .navbar {
     height: auto;
     position: static;
   }
    .navbar ul {
        padding: 0;
    }
    .navbar li {
        display: block;
        text-align: center;
        padding: 0;
      }
    .navbar a {
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        color: $kodfont-third;
        float: none;
        width: 100%;
      }
    //calendar form
    .input-calendar {
      border: none;
      position: relative;
    }
    .input-calendar input{
      padding: 5px 0;
      text-align: center;
    }
    .cal-right {
      border: none;
    }
    i.icon-calendar {
      margin-right: 0;
      position: absolute;
      top: 31px;
      left: -40px;
    }
    .btn-sm {
      position: absolute;
      top: 25px;
      right: 1px;
    }
    form {
      position: relative;
      justify-content: space-around;
    }
    //line with digit
    .col-offset-2{
      margin-left: 0;
    }
    .digit {
      display: inline-block;
    }
    .line {
      margin: 0;
      width: 280px;
    }
    //legend & chart
    .header5 {
      margin: 0 0 8px 13px;
    }
    .legend li {
      display: block;
      margin: 10px 5px;
    }
    //line with link
    .link_div {
      flex-wrap: wrap;
      justify-content: normal;
    }
    .layer {
      display: none;
    }
    //buttons
    .button-second {
      padding-top: 30px;
    }
    .button {
      padding-bottom: 10px;
    }
    .undo-1 {
      width: 35px;
      height: 35px;
    }
  }