//Media query
@media all and (min-width: 769px) {
  .side-nav a:hover {
    color: $kodfont-second;
    background-color: $nav-background;
    border-left: 3px solid $span-orange;
  }
  .navbar a:hover {
    background-color: $kodfont-five;
    color: $nav-background;
  }
  .link_div:hover {
    background-color: $legend-color;
    .content_link {
      overflow: visible;
    }
  }
}

@media(min-width: 427px) and (max-width: 768px) {
  @include grid('m');
  //global styles
  .main {
    padding: 0;
    margin-left: 0;
  }
  //navbar
  .wrapped {
    height:144px;
    opacity: .9;
    background-color: $paragraph-color;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .5s;
    .navbar {
      position: static;
      line-height: 0;
      background-color: inherit;
      ul {
        text-align: center;
        float: none;
        padding-inline-start: 0;
        padding-top: 10px;
        li {
          display: list-item;
          float: none;
          padding: 10px 0;
          a {
            float: none; 
            display: inline;
            border-left: none;
            padding: 7px 0;
            color: $kodfont-four;
          }
        }
      }
    }
  }
  .span-name {
    color: $kodfont-four;
    font-size: 15px;
    overflow-wrap: break-word;
}
  .main-section {
    position: relative;
  }
  .open-slide > a {
    border-left: none;
    position: absolute;
    top: 5px;
    right: -80px;
}
  .wallet {
    color: $kodfont-four;
    overflow-wrap: break-word;
  }
  //side bar
  .side-nav {
    top: 154px;
    a {
      padding: 20px;
    }
    h1 {
      padding: 0 0 10px 10px;
    }
  }
  //input calendar
  .cal-right {
    text-align: center;
  }
  //line with digit
  .col-offset-2 {
    margin-left: 8.33%;
  }
  .line {
    width: 250px;
  }
  //first personal form
  .col-m-8 {
    margin-left: 16.66667%;
  }
  .form-input {
    height: 30px;
    width: 250px;
    padding: 10px;
  }
  .form.label {
    height: 30px;
    line-height:30px;
  }
  .content_link.hid {
    overflow: visible;
  }
}

@media(max-width: 426px) {
  @include grid('s');
  [class*="col-"] {
    padding: 12px;
  }
  .main {
    padding: 0 10px 10px 10px;
    margin-left: 0;
  }
  //navbar
  .wrapped {
    height:144px;
    opacity: .9;
    background-color: $paragraph-color;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .5s;
    .navbar {
      position: static;
      line-height: 0;
      background-color: inherit;
      ul {
        text-align: center;
        float: none;
        padding-inline-start: 0;
        padding-top: 10px;
        li {
          display: list-item;
          float: none;
          padding: 10px 0;
          a {
            float: none; 
            display: inline;
            border-left: none;
            padding: 7px 0;
            color: $kodfont-four;
          }
        }
      }
    }
  }
  .span-name {
    color: $kodfont-four;
    font-size: 15px;
    overflow-wrap: break-word;
}
  .main-section {
    position: relative;
  }
  .open-slide > a {
    border-left: none;
    position: absolute;
    top: 5px;
    right: -80px;
}
  .wallet {
    color: $kodfont-four;
    overflow-wrap: break-word;
  }
  //side bar
  .side-nav {
    top: 154px;
    a {
      padding: 20px;
    }
    h1 {
      padding: 0 0 10px 10px;
    }
  }
  //calendar form
  .input-calendar {
    border: none;
    position: relative;
    input {
      padding: 5px 0 5px 40px;
      text-align: center;
      width: 180px;
    }
  }
  .cal-right {
    border: none;
  }
  i.icon-calendar {
    margin-right: 0;
    position: absolute;
    top: 31px;
    left: 50px;
  }
  .btn-sm {
    position: absolute;
    top: 25px;
    right: 1px;
  }
  .calendar-form {
    position: relative;
    justify-content: space-around;
  }
  //line with digit
  .col-offset-2 {
    margin-left: 0;
  }
  .digit {
    display: inline-block;
  }
  .line {
    margin: 0;
    width: 280px;
  }
  //legend & chart
  .header5 {
    margin: 0 0 8px 13px;
  }
  .legend li {
    display: block;
    margin: 10px 5px;
  }
  //line with link
  .link_div {
    flex-wrap: wrap;
    justify-content: normal;
  }
  .layer {
    display: none;
  }
  //buttons
  .button-second {
    padding-top: 30px;
  }
  .undo-1 {
    width: 35px;
    height: 35px;
  }
  //first personal form
  .col-offset-3 {
    margin-left: 0;
  }
  .form-input {
    height: 30px;
    width: 70%;
    padding: 10px;
  }
  .form-label {
    height: 30px;
    line-height:30px;
  }
}
