@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin column-count($count) {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    -ms-column-count: $count;
    column-count: $count;
  }

  