@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin column-count($count) {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    -ms-column-count: $count;
    column-count: $count;
  }

  @media(max-width: 668px){
    .navbar {
     height: auto;
   }
   .navbar ul {
     padding: 0;
   }
   .navbar ul li {
     display: block;
     text-align: center;
     padding: 0;
   }
  .navbar a {
   text-align: center;
   text-decoration: none;
   font-size: 25px;
   color: #000;
   float: none;
   width: 100%;
  }
 }