/* Colors */
$paragraph-color: #000000;
$brand-main-color: #181064;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Lato', Arial;
$h1-font: 'Josefin Slab';

$nav-background: #313234;
$kodfont-color: #00c7e8;
$kodfont-second: #fff;
$kodfont-third: #000;
$kodfont-four: #ccc;
$kodfont-five: #ddd;
$kodfont-six:  #f76c35;