@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
/* Components */
@import "components/component1";
@import "components/component2";
@import "components/component3";

/* Sections */
/*@import "section/registration_form";

/* Pages / Views */
/*@import "pages/registration";*/

* {
    box-sizing: border-box;    
}

body {
    margin: 0 auto;
    background-color: $kodfont-four;
    font-family: $paragraph-font;
}

.navbar{
    background-color: $kodfont-second;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    padding: 8px 0 0 0;
    list-style-type: none;
}

.navbar a:hover {
    background-color: $kodfont-five;
    color: $nav-background;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $nav-background;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: $kodfont-four;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: $kodfont-second;
    background-color: $kodfont-third;
}

.side-nav .btn-close {
    position: sbdolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
transition: margin-left 0.5s;
padding: 20px;
overflow: hidden;
width: 100%;
}


