/* Global styles */
[class*="col-"] {
  padding: 12px;
}

.row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.container-fluid {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    }

* {
    box-sizing: border-box;    
}

body {
    margin: 0 auto;
    background-color: #ccc;
    font-family: 'Roboto Condensed', sans-serif;
    color: #a8a8a8;
}

/* Main content */
.main {
transition: margin-left 0.5s;
padding: 20px;
overflow: hidden;
width: 100%;
margin-left: 250px;
}

.main-section {
width: 80%;
background-color: #fff;
margin: 0 5%;
box-shadow: 5px 8px rgba(135, 132, 128, 0.3);
}
  
.title {
text-transform: uppercase;
border-bottom: 2px solid #ccc;
padding: 8px;
color: #b6b6b6;
}

.divide {
    border: 0.5px solid #ccc;
 }

 form {
    text-align: center;
 }

.field {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

input {
    height: 30px;
    width: 70%;
}

label {
    height: 30px;
    line-height:30px;
}
@media (min-width: 769px){
/*Grid*/
  .col-1 {
    width: 8.33333%;
  }
  
  .col-2 {
    width: 16.66667%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33333%;
  }
  
  .col-5 {
    width: 41.66667%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33333%;
  }
  
  .col-8 {
    width: 66.66667%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33333%;
  }
  
  .col-11 {
    width: 91.66667%;
  }
  
  .col-12 {
    width: 100%;
  }
/*Margin*/
  .col-offset-0 {
    margin-left: 0%;
  }
  
  .col-offset-1 {
    margin-left: 8.33333%;
  }
  
  .col-offset-2 {
    margin-left: 16.66667%;
  }
  
  .col-offset-3 {
    margin-left: 25%;
  }
  
  .col-offset-4 {
    margin-left: 33.33333%;
  }
  
  .col-offset-5 {
    margin-left: 41.66667%;
  }
  
  .col-offset-6 {
    margin-left: 50%;
  }
  
  .col-offset-7 {
    margin-left: 58.33333%;
  }
  
  .col-offset-8 {
    margin-left: 66.66667%;
  }
  
  .col-offset-9 {
    margin-left: 75%;
  }
  
  .col-offset-10 {
    margin-left: 83.33333%;
  }
  
  .col-offset-11 {
    margin-left: 91.66667%;
  }
}  
/*Media*/
@media (max-width: 426px) {
 .col-offset-3 {
   margin-left: 0;
 }

  input {
    height: 30px;
    width: 70%;
    padding: 10px;
  }

  label {
    height: 30px;
    line-height:30px;
  }
  .col-s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

  @media (min-width: 427px) and (max-width: 768px) {
    .col-m-8 {
      margin-left: 16.66667%;
    }
   
    input {
      height: 30px;
      width: 250px;
      padding: 10px;
    }
    
    label {
      height: 30px;
      line-height:30px;
    }
      .col-m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
      }
      .col-m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
      .col-m-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .col-m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
      .col-m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
      }
      .col-m-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
      }
      .col-m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
      }
      .col-m-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      .col-m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
      }
      .col-m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
      }
      .col-m-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }