/*Button's style*/
[class*="btn-"]{
    width: 80px;
    height: 40px;
    @include border-radius(10%);
    border: none;
    background-color: $span-orange;
    color: $kodfont-second;
    cursor: pointer;
    text-shadow: 0.7px 0.7px $title-section;
    padding: 10px;
    margin-left: 10px;
    }
    
    .btn-lg {
    width: 100px;
    height: 50px;
    font-size: 18px;
    }
    
    .btn-sm {
    width: 70px;
    height: 30px;
    font-size: 12px;
    }
    
    .btn-gray {
    background-color: $title-section;
    text-shadow: 0.7px 0.7px $shadow-color;
    }
    
    [class*="undo-"] {
    text-shadow: 0.7px 0.7px $shadow-color;
    width: 50px;
    }
    
    .undo-1 {
    width: 35px;
    }
    
    .undo-2 {
    width: 45px; 
    }