/*Text and headers style*/
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    }
    
    h1 {
    font-family: Lato, sans-serif;
    color: #565550;
    }
    
    h2, h3 {
    font-family: 'PT Serif', serif ;
    color: #757471;
    }
    h4 {
    font-family: 'Open sans', sans-serif;
    color: #9e975a;
    }
    
    h5, h6 {
    font-family: 'Arial', sans-serif;
    }
    
    p {
    font-family: 'Arial', sans-serif; 
    }
    
    a {
    text-decoration: none;
    color: #000;
    font-family: 'Arial', sans-serif;
    }


/*Line with digit*/
table {
font-family: 'Arial', sans-serif;
border-collapse: collapse;
border-bottom: 2px solid #878080;
}

.number {
text-align: right;
}

/*Table with links*/
.table2 {
border-top: 2px solid #878080;
margin-left: 0;
}

tr {
border-bottom: 2px solid #878080;
text-align: justify;
}

table > tbody > tr > td {
padding:1em;
}