//Global styles
nav:before
nav:after {
  content:"";
  display: table;
  clear: both;
}

.row:before,
.row:after {
  content:"";
  display: table ;
  clear: both;
}

[class*="col-"] {
  padding: 12px;
}

.row {
  margin: 3% 0;
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;    
}

body {
  margin: 0 auto;
  background-color: $kodfont-four;
  font-family: $paragraph-font;
}

.form-page {
  margin: 0 auto;
  background-color: $kodfont-four;
  font-family: $body-font;
  color: $bodyfont-color;
}

.container-fluid {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
