/*Calendar input style*/
/*input:required {
    border-color: rgba(255, 99 ,71, 0.6);
    outline-color: rgb(63, 122, 51);     
   }*/

form {
    display: flex;
    justify-content: center;
}

input {
    border: 0;
}

.input-calendar{
    border: 1px solid $kodfont-four;
    padding: 4px;
}

.calendar {
    text-align: center;
}
   
.date-calendar {
   width: 150px;
   padding: 2px 5px;
}

.cal-right {
    border-left: 0.5px solid $kodfont-four;
    text-align: center;
}
i.icon-calendar {
    margin-right: 10px;
}