//Calendar input style
.calendar-form {
  display: flex;
  justify-content: center;
}

.input-calendar {
  border: 1px solid $kodfont-four;
  padding: 4px;
  position: relative;
  position: relative;
  z-index: 1;
}

.date-calendar {
  width: 150px;
  padding: 2px 5px;
  border: 0;
  background-color: rgba(252, 252, 252, 0.4);
}

.cal-right {
  border-left: .5px solid $kodfont-four;
  text-align: center;
}

i.icon-calendar {
  position: absolute;
  top: 10px;
  left: 290px;
  z-index: -1;
}
