/*Calendar input style*/
.calendar-form {
    display: flex;
    justify-content: center;
}

.input-calendar{
    border: 1px solid $kodfont-four;
    padding: 4px;
}

.calendar {
    text-align: center;
}
   
.date-calendar {
   width: 150px;
   padding: 2px 5px;
   border: 0;
}

.cal-right {
    border-left: 0.5px solid $kodfont-four;
    text-align: center;
}
i.icon-calendar {
    margin-right: 10px;
}