.form-page {
    .row {
        margin: 0;
    }
    .main-section {
        width: 80%;
    }
    .title {
        border-bottom: 0.5px solid $kodfont-four;
    }
    .btn-lg {
        width: 90px;
    }
}